@import 'https://use.fontawesome.com/releases/v5.10.2/css/all.css';

html{
    font-family: Helvetica, sans-serif;
    margin: 30px;
}

header{
    align-items: center;
    display: flex;
}

header h1{
    margin-right: 105px;
}

nav {
    display: inline-block;
}

nav li {
    display: inline-block;
    margin: 10px;
}

nav li a{
    color: green;
    text-decoration: none;
}

.rest{
    border-top: 2px solid black;
}

